In [1]:
import pickle
import numpy as np
import pandas as pd

from proj_fns import preprocess_step, create_submission

In [2]:
test_raw = pd.read_csv('data/test.csv')

In [3]:
# Load top 12 vars df
model_vars = pd.read_csv("models/top_12_feats.csv")['0'].tolist()
model_vars

['prop_price_with_discount_usd',
 'prop_review_count',
 'srch_hour',
 'srch_visitor_visit_nbr',
 'prop_discount',
 'srch_bw_weeks',
 'prop_key',
 'prop_room_capacity',
 'srch_ci_day',
 'srch_co_day',
 'srch_los',
 'prop_review_score']

##### Random Forest

In [4]:
create_submission(test_raw, model_vars, sub_file_name="rf_12vars.csv", model_file = "rf_model.sav")

      srch_id  level_1  prop_key  score
0 -2147403968   259644    289794   0.82
1 -2147403968   259637    358614   0.67
2 -2147403968   259625    270584   0.64
3 -2147403968   259661   3895289   0.51
4 -2147403968   259623    358698   0.49

In [5]:
# Kaggle Score

##### Bayes

In [6]:
create_submission(test_raw, model_vars, sub_file_name="bayes_12vars.csv", model_file = "bayes_model.sav")

      srch_id  level_1  prop_key     score
0 -2147403968   259632    364047  0.483268
1 -2147403968   259630    435600  0.477318
2 -2147403968   259656    286553  0.475881
3 -2147403968   259638    287805  0.470862
4 -2147403968   259623    358698  0.463023

In [7]:
# Kaggle Score

##### XGB - resampling & 12 vars

In [8]:
create_submission(test_raw, model_vars, sub_file_name="xgb_12vars.csv", model_file = "xgb_model.sav")

      srch_id  level_1  prop_key     score
0 -2147403968   259660    544714  0.595010
1 -2147403968   259654    271366  0.454486
2 -2147403968   259625    270584  0.431520
3 -2147403968   259634    296362  0.414150
4 -2147403968   259645   3076641  0.402025

In [9]:
# Kaggle Score 0.42768

##### XGB - no sampling & all vars

In [10]:
create_submission(test_raw, 
                  model_vars = None, 
                  sub_file_name="xgb_model_allvars_nosampling.csv", 
                  model_file = "xgb_model_allvars_nosampling.sav")

      srch_id  level_1  prop_key     score
0 -2147403968   259644    289794  0.084488
1 -2147403968   259660    544714  0.079667
2 -2147403968   259623    358698  0.072742
3 -2147403968   259652   3392809  0.048401
4 -2147403968   259637    358614  0.043508

In [11]:
# model_vars = None
# sub_file_name="xgb_model_allvars_nosampling.csv"
# model_file = "xgb_model_allvars_nosampling.sav"
# # Process test data
# test_clean = preprocess_step(test_raw)
# model = pickle.load(open("models/" + model_file, 'rb'))
# # Get results
# test_set = test_clean[model_vars] if model_vars else test_clean

# test_pred_prob = model.predict_proba(test_set)
# # Take p value for boolian booking = 1
# booking_p = [b for a, b in test_pred_prob]

# # Create submission df
# submission = test_raw[['srch_id', 'prop_key']].copy()
# submission['score'] = booking_p
# Sort according to competition rules
# sorted_sub = submission.groupby(['srch_id'])[['prop_key', 'score']].apply(
#     lambda x: x.sort_values('score', ascending=False)).reset_index()
# final_sorted_sub = sorted_sub.drop(['level_1', 'score'], axis=1)

# # Export submission data
# final_sorted_sub.to_csv("submissions/" + sub_file_name, header=True, index=False)